@import '@fontsource-variable/source-sans-3/wght.css';

/* Dark mode colors. */
:root {
	--doglog-font-heading: 'Source Sans 3 Variable', var(--sl-font-system);
	--sl-color-accent-low: #460b05;
	--sl-color-accent: #c60e00;
	--sl-color-accent-high: #feb3a6;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #f3ecea;
	--sl-color-gray-2: #cfc6c4;
	--sl-color-gray-3: #b0a09d;
	--sl-color-gray-4: #635451;
	--sl-color-gray-5: #423432;
	--sl-color-gray-6: #302321;
	--sl-color-black: #1d1715;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #ffc8be;
	--sl-color-accent: #a60a00;
	--sl-color-accent-high: #640300;
	--sl-color-white: #1d1715;
	--sl-color-gray-1: #302321;
	--sl-color-gray-2: #423432;
	--sl-color-gray-3: #635451;
	--sl-color-gray-4: #978784;
	--sl-color-gray-5: #c8c0be;
	--sl-color-gray-6: #f3ecea;
	--sl-color-gray-7: #f9f5f5;
	--sl-color-black: #ffffff;
}

:is(h1, h2, h3, h4, h5, h6, .site-title, #starlight__sidebar .large) {
	font-family: var(--doglog-font-heading);
	/* Match the perceived size of Starlight's system font despite Source Sans 3's lower x-height. */
	font-size-adjust: 0.52;
}
