name: CI

on: [push, pull_request]

jobs:
  validation:
    name: Validate Gradle wrappers
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Git repository
        uses: actions/checkout@v5
      - name: Validate Gradle wrappers
        uses: gradle/actions/wrapper-validation@v5
  assemble:
    name: Assemble

    runs-on: ubuntu-latest

    timeout-minutes: 5

    needs: [validation]

    steps:
      - name: Checkout Git repository
        uses: actions/checkout@v5
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: 25
          cache: "gradle"
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v5
      - name: Assemble project
        run: ./gradlew assemble
  style:
    name: Check formatting

    runs-on: ubuntu-latest

    timeout-minutes: 5

    needs: [validation]

    steps:
      - name: Checkout Git repository
        uses: actions/checkout@v5
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: 25
          cache: "gradle"
      - name: Check formatting
        run: ./gradlew spotlessCheck
  assemble-test-project:
    name: Assemble test project

    runs-on: ubuntu-latest

    timeout-minutes: 5

    needs: [assemble, validation]

    steps:
      - name: Checkout Git repository
        uses: actions/checkout@v5
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: 25
          cache: "gradle"
          cache-dependency-path: |
            lib/*.gradle*
            test-project/*.gradle*
      - name: Assemble DogLog
        run: ./gradlew assemble
      - name: Assemble test project
        run: ./gradlew assemble
        working-directory: test-project
  style-test-project:
    name: Check test project formatting

    runs-on: ubuntu-latest

    timeout-minutes: 5

    needs: [validation]

    steps:
      - name: Checkout Git repository
        uses: actions/checkout@v5
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: 25
          cache: "gradle"
          cache-dependency-path: |
            lib/*.gradle*
            test-project/*.gradle*
      - name: Check formatting
        run: ./gradlew spotlessCheck
        working-directory: test-project
  javadoc:
    name: Publish Javadoc

    runs-on: ubuntu-latest

    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    needs: [assemble, validation]

    timeout-minutes: 5

    steps:
      - name: Checkout Git repository
        uses: actions/checkout@v5
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: 25
          cache: "gradle"
      - name: Build
        run: ./gradlew build
      - name: Enable Corepack
        # Required due to a limitation in setup-node https://github.com/actions/setup-node/issues/480#issuecomment-1820622085
        run: corepack enable
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
          cache: "yarn"
      - name: Install dependencies
        run: yarn install --immutable
      - name: Publish Javadoc to Cloudflare Workers
        run: yarn workspace @doglog/lib wrangler deploy
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
  docs:
    name: Build docs

    runs-on: ubuntu-latest

    timeout-minutes: 5

    steps:
      - name: Checkout Git repository
        uses: actions/checkout@v5
      - name: Enable Corepack
        # Required due to a limitation in setup-node https://github.com/actions/setup-node/issues/480#issuecomment-1820622085
        run: corepack enable
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
          cache: "yarn"
      - name: Install dependencies
        run: yarn install --immutable
      - name: Build docs
        run: yarn build
        working-directory: ./web
