on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

name: release-please

jobs:
  release-please:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: Run release-please
        uses: googleapis/release-please-action@v4
        id: release
        with:
          # this assumes that you have created a personal access token
          # (PAT) and configured it as a GitHub action secret named
          # `MY_RELEASE_PLEASE_TOKEN` (this secret name is not important).
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Generate a token
        if: steps.release.outputs.release_created
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: "2595150"
          private-key: ${{ secrets.DOGLOG_VENDORDEP_PEM }}
          owner: jonahsnider
          repositories: vendor-json-repo
      - name: Create copy of vendordep.json
        if: steps.release.outputs.release_created
        run: cp vendordep.json DogLog-${{ steps.release.outputs.version }}.json
      - name: Create Vendor JSON Repo PR
        uses: wpilibsuite/vendor-json-repo/.github/actions/add_vendordep@main
        if: steps.release.outputs.release_created
        with:
          repo: jonahsnider/vendor-json-repo
          token: ${{ steps.generate-token.outputs.token }}
          vendordep_file: ${{ github.workspace }}/DogLog-${{ steps.release.outputs.version }}.json
          pr_title: "Add DogLog v${{ steps.release.outputs.version }}"
          pr_branch: "doglog-v${{ steps.release.outputs.version }}"
